table {
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
ul{
    display: flex;
    justify-content: flex-end;
    gap: 2px;
    
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}